{% trans_default_domain 'cocorico_listing' %}

<div id="search-container">
    <div class="selection-holder">
        {% include '@CocoricoCore/Frontend/ListingResult/_form_search_characteristics.html.twig' with {
            'characteristics' : form.characteristics
        } only %}
    </div>
</div>
