{% set url =  path('user-announcement_list', {'filter': {'announcement': {'value': object.id}}}) %}

<a href="{{ url }}" class="btn btn-sm btn-default edit_link"
   title="{{ 'list_action_announcement_users'|trans({}, 'SonataAdminBundle') }}">
    <i class="glyphicon glyphicon-user"></i>
    {{ 'list_action_announcement_users'|trans({}, 'SonataAdminBundle') }}
</a>