parameters:
    cocorico.listing_activated_offerer.email.template: "CocoricoCoreBundle:Mails:listing_activated_offerer.txt.twig"
    cocorico.admin_message.email.template: "CocoricoCoreBundle:Mails:admin_message.txt.twig"
    cocorico.user_expire_notification.email.template: "CocoricoUserBundle:Mails/User:user_expire.txt.twig"
    cocorico.user_expired.email.template: "CocoricoUserBundle:Mails/User:user_expired.txt.twig"
    cocorico.activator_notification.email.template: "CocoricoCoreBundle:Mails:activator_notification.txt.twig"
    cocorico.listing_expire_soon.email.template: "CocoricoCoreBundle:Mails:listing_expire_soon.txt.twig"
    cocorico.listing_expired.email.template: "CocoricoCoreBundle:Mails:listing_expired.txt.twig"
    cocorico.facilitator_notification.email.template: "CocoricoCoreBundle:Mails:facilitator_notification.txt.twig"
    cocorico.super_admin_notification.email.template: "CocoricoCoreBundle:Mails:super_admin_notification.txt.twig"
    cocorico.user_deleted.email.template: "CocoricoUserBundle:Mails/User:user_deleted.txt.twig"

services:
    cocorico.mailer.twig_swift:
        class: Cocorico\CoreBundle\Mailer\TwigSwiftMailer
        arguments:
            - "@mailer"
            - "@router"
            - "@twig"
            - "@request_stack"
            - "@translator.default"
            - parameters:
                cocorico_time_unit: "%cocorico.time_unit%"
                cocorico_locales: "%cocorico.locales%"
                cocorico_locale: "%cocorico.locale%"
                cocorico_time_zone: "%cocorico.time_zone%"
                cocorico_from_email: "%cocorico.from_email%"
                cocorico_bcc_email: "%cocorico.bcc_email%"
                cocorico_contact_email: "%cocorico.contact_mail%"
                cocorico_site_name: "%cocorico.site_name%"
            - templates:
                listing_activated_offerer: "%cocorico.listing_activated_offerer.email.template%"
                admin_message: "%cocorico.admin_message.email.template%"
                user_expire_notification: "%cocorico.user_expire_notification.email.template%"
                user_expired: "%cocorico.user_expired.email.template%"
                activator_notification: "%cocorico.activator_notification.email.template%"
                facilitator_notification: "%cocorico.facilitator_notification.email.template%"
                super_admin_notification: "%cocorico.super_admin_notification.email.template%"
                user_deleted: "%cocorico.user_deleted.email.template%"
                listing_expired: "%cocorico.listing_expired.email.template%"
                listing_expire_soon: "%cocorico.listing_expire_soon.email.template%"
